@use "reset-button";

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color-rgb: 108, 39, 255;
  --main-border-radius: 1rem;
}

.overline {
  letter-spacing: 4px;
  font-weight: 500;
  text-transform: uppercase;
}

.title {
  font-size: 4rem;
  font-weight: bold;

  margin: 2rem 0;

  &.small {
    font-size: 2.5rem;
  }
}

.indent {
  padding: 4rem;
}

button {
  width: 100%;

  text-transform: uppercase;

  cursor: pointer;

  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1px;

  padding: 1rem 2.5rem;
  border-radius: calc(var(--main-border-radius) / 2);

  will-change: transform;
  transition: all 0.1s;

  &.small {
    padding: 0.75rem 1.5rem;
  }

  &.white {
    background: white;
    color: black;
  }

  &.translucent {
    color: black;

    &.light {
      color: rgba(255, 255, 255, 0.9);
      background: rgba(255, 255, 255, 0.1);
    }

    &.outline {
      outline: 2px solid rgba(0, 0, 0, 0.05);

      &.light {
        background: transparent;
        outline: 2px solid rgba(255, 255, 255, 0.05);
      }
    }
  }

  &:hover {
    transform: scale(0.975);
  }
}
